@media (max-width: 1440px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 1024px) {
  .hero-content h2 {
    font-size: 46px;
    line-height: 48px;
  }
  .resume_header {
    gap: 39px;
    padding: 30px 48px;
  }
  .resumer_info {
    padding: 40px 20px 30px;
  }
  .skill-title {
    max-width: 358px;
  }
  .phone-holder a {
    padding: 7px 5px;
    font-size: 14px;
    line-height: 16px;
  }
  .navbar .nav-item .nav-link {
    font-size: 14px;
    line-height: 16px;
  }
  .milestone_timeline h2{
    font-size: 32px;
    line-height: 36px;
  }
  .flyin_info{
    padding: 48px 24px;
  }
  .appointment .nav-link{
    padding: 12px 3px;
  }
  .filter-input-box .appoinment-inputs{
    gap: 25px;
  }
  .live-chat{
    width: 506px;
  }
  .chat-dr .dr-img{
    width: 90px;
    height: 90px;
  }
  .chat-header{
    padding: 8px 16px;
  }
}
@media (max-width: 992px) {
  .resumer_name h1 {
    font-size: 34px;
    line-height: 36px;
  }
  .skill-title {
    padding: 12px 20px;
  }
  .surgery_main {
    margin-bottom: 30px;
  }
  .tab-3-filter-input{
    padding: 0;
  }
  .tab3-searchted-data .tab3-content{
    grid-template-columns:repeat(2, 1fr)
  }
  .show-available , .appoint-card{
    padding: 0;
  }
}
@media (max-width: 991px) {
  .sub-menu .sub_item:hover,
  .subsub-menu .subsub_item:hover,
  .innersub_menu .inner_item:hover {
    background: #fff;
    color: #000;
  }
  .sub-menu .sub_item:hover .submenu_link,
  .sub-menu .subsub-menu .subsub_item:hover .subsub_menu_link,
  .innersub_menu .inner_item:hover .innermenu_link,
  .sub-menu .sub_item:hover .down-arrow,
  .subsub-menu .subsub_item:hover .inner-down-arrow {
    color: #000;
  }
  .sub-menu,
  .subsub-menu,
  .innersub_menu {
    min-width: 100%;
  }
  .sub-menu,
  .subsub-menu,
  .innersub_menu {
    display: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.3s ease;
  }

  .navbar .nav-link[aria-expanded="true"] ~ .sub-menu,
  .submenu_link[aria-expanded="true"] ~ .subsub-menu,
  .subsub_menu_link[aria-expanded="true"] ~ .innersub_menu {
    display: block;
    position: static;
    opacity: 1;
    visibility: visible;
  }
  
  .navbar .nav-link[aria-expanded="true"] + .sub-menu,
  .submenu_link[aria-expanded="true"] + .subsub-menu,
  .subsub_menu_link[aria-expanded="true"] + .innersub_menu {
    display: block;
    opacity: 1;
    visibility: visible;
  }
  .navbar .nav-link[aria-expanded="true"] ~ .down-arrow,
  .submenu_link[aria-expanded="true"] ~ .down-arrow,
  .subsub_menu_link[aria-expanded="true"] ~ .down-arrow,
  .navbar .nav-link[aria-expanded="true"] ~ .inner-down-arrow,
  .submenu_link[aria-expanded="true"] ~ .inner-down-arrow,
  .subsub_menu_link[aria-expanded="true"] ~ .inner-down-arrow {
    transform: rotate(360deg);
  }
  .submenu_link{
    display: block;
  }
.navbar-collapse ,.sub-menu ,.subsub-menu ,.innersub_menu ,.navbar-collapse a{
  background-color: #E5E5E5 !important;
}

.navbar-collapse .nav-link {
  padding: 12px;
}
.navbar-collapse{
  overflow-y: auto;
  max-height: 100vh;
  position: absolute;
  width: 100vw;
  top: 100%;
  left: 0;
}
.navbar-collapse a{
  color: #000 !important;
}
.sub-menu li .submenu_link, .subsub_menu_link, .innersub_menu li .innermenu_link{
  padding: 10px;
}
.sub-menu ,.subsub-menu ,.innersub_menu {
  transform: translateY(0);
  padding-left: 20px;
}
.nav-link-arrow{
  display: block;
}
.sub-menu li {
  border-bottom: none;
}
.navbar-nav{
  padding-top: 22px;
}
.fadeout-grid{
  grid-template-columns: repeat(2, 1fr);
 }
 .flydata_1 {
  padding-top: 0;
}
.flydata_2 {
  padding-top: 40px;
}
.filter-input-box .appoinment-inputs {
  grid-template-columns: repeat(3, 1fr);
}
}

@media (max-width: 768px) {
  .resume_header {
    gap: 20px;
    padding: 20px 20px 30px 48px;
  }
  .resumer_info {
    padding: 30px 20px 20px;
  }
  .skills ul li,
  .skill-title h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .skill-title {
    max-width: 278px;
  }
  .fadeout_title h2{
    font-size: 30px;
    line-height: 34px;
  }
}
@media (max-width: 767px) {
  .resume_header {
    justify-content: center;
  }
  .resumer_info li {
    justify-content: center;
  }
  .skill-title {
    margin-top: 18px;
  }
  .flyin_info h2{
    font-size: 30px;
    line-height: 32px;
  }
  .location-data{
    padding: 20px 8px 20px 20px;
  }
  .filter-input-box .appoinment-inputs {
    grid-template-columns: repeat(2, 1fr);
  }
  .doc-info{
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .resumer_name h1 {
    font-size: 30px;
    line-height: 32px;
  }
  .resumer_name h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .resumer_info {
    padding: 12px 20px 9px;
  }
  .resumer_info li {
    margin-bottom: 10px;
  }
  .resume_header {
    padding: 20px 11px 30px 20px;
  }
  .skills ul {
    flex-wrap: wrap;
  }
  .milestone .milestone-left{
    width: 20%;
  }
  .milestone{
    gap: 16px;
  }
  .milestone-center{
    margin-right: 0;
    margin-left: 0;
  }
  .milestone .milestone-right{
    width: 72%;
  }

  .timeline-line{
    left: 26%;
  }
  .milestone-right{
    font-size: 16px;
    line-height: 20px;
  }
  .milestone-left{
    font-size: 24px;
    line-height: 26px;
  }
  .milestone-end{
    text-align: start;
    padding-left: 50px;
  }
  .fadeout-grid{
    grid-template-columns: repeat(1, 1fr);
   }
   .flyin_info {
    padding: 30px 18px;
}
.hero-content h2 {
  font-size: 35px;
  line-height: 38px;
}
.milestone-tab .nav-pills{
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.tab-main{
  flex-direction: column;
}
.milestone-tab .nav-pills .nav-link{
  border-bottom: 1px solid white;
  border-right: none;
}
.milestone-tab .nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  border-bottom-color: #d4ff9d;
}
.milestone-tab .tab-content{
  padding:0 20px;
}
.milestone_timeline h2{
  font-size: 24px;
  line-height: 26px;
}
.tab3-searchted-data .tab3-content {
  grid-template-columns: repeat(1, 1fr);
}
.tab-3-title h2 {
font-size: 22px;
line-height: 24px;
}
.filter-input-box .appoinment-inputs {
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}
.live-chat {
  width: 356px;
}
.dr-detail {
  padding-left: 10px;
}
.chat-dr .dr-img {
  width: 81px;
  height: 74px;
}
.chat-header {
  padding: 8px 3px;
}
.chat-box .text-box {
  height: 70px;
}
.chat-box .text-area{
  height: 57px;
}
.right-img{
  width: 15px;
}
}
@media (max-width: 430px) {
  .resumer_image img {
    width: 120px;
    height: 120px;
  }
  .resumer_name h3 {
    font-size: 20px;
    line-height: 24px;
  }
  .flyin_info h2{
    font-size: 24px;
    line-height: 26px;
  }
  .chat-dr .dr-img {
    width: 74px;
    height: 74px;
}
.dr-detail h3 {
  font-size: 16px;
  line-height: 18px;
}
.chat-header{
  min-height: 101px;
}
}
@media (max-width: 375px) {
  .resumer_name h1 {
    font-size: 22px;
    line-height: 24px;
  }
  .resumer_name h3 {
    font-size: 18px;
    line-height: 20px;
  }
  .resumer_name p {
    font-size: 16px;
    line-height: 20px;
  }
  .resumer_info li h3 a,
  .resumer_info li i {
    font-size: 18px;
    line-height: 20px;
  }
  .live-chat {
    width: 324px;
}
.chat-submit .send-btn{
  width: 84px;
  height: 32px;
}
}
@media (max-width: 329px) {
  .resumer_image img {
    width: 104px;
    height: 104px;
  }
  .live-chat {
    width: 291px;
}
.chat-dr .dr-img {
  width: 76px;
  height: 63px;
}
}
